.form {
    width: 300px;
    margin: 0 auto;
}

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    gap: 5px;
}

.button {
    background-color: #6685eb;
    border-style: none;
    border-radius: 3px;
    color: #ffffff;
}